.tsx linguist-language=TypeScript
.ts linguist-language=TypeScript
.tsx linguist-detectable
.ts linguist-detectable
.html linguist-vendored
public/* linguist-vendored
assets/* linguist-vendored
.json linguist-vendored
.yml linguist-vendored
.lock linguist-vendored
.md linguist-vendored
