.Utility {
	margin-top: 40px;
}


.Utility h1{
	font-size: 20px;
    font-weight:500;
    margin-top: 5px;
    color: rgb(38, 96, 195);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.Utility p{
    font-size: 15px;
    color: rgb(146, 145, 145);
    text-align: start;
}


.cardUtility{
    margin: 10px;
    width: 250px;
    }